name: Tests

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  test:
    name: Tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.18'
      - name: Install dependencies
        run: go get .
     # - name: Build
     #   run: CGO_ENABLED=1 go build -ldflags "-linkmode external -extldflags '-static' -s -w" -v ./...
      - name: Test with the Go CLI
        run: CGO_ENABLED=1 go test